@charset "utf-8";
/* CSS Document */

*{
	padding: 0;
	margin: 0;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: orange; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}
img
{
	width: 100%;
	
}
.background1
{
	background-position: center;
	height: 100vh;
	background-image: url(../images/images/images/background1_01.png);
	background-size: cover;
	color: white;
	background-repeat: none;
}
.menu
{
	background-color: black;
	height: 50px;	
}
a
{
	color: whitesmoke;
	padding: 20px;
	text-decoration: none;
	
}
.overlay-content
{
	padding-top: 8px;
}

.logo
{
	background-color: black;	
}
.logo img
{
	width: 10%;
	margin-left: 150px;
	margin-top: 10px;
}
.text1
{
	text-align: left;
	margin-left: 0px;
	margin-top: 100px;
}
.text1 p
{
	margin-top: 30px;
}
.text1 img
{
	width: 30%;
	opacity: 90%;
	
}
.text1 button
{

	height: 30px; 	
 	width: 100px;
	margin-top: 30px;
	margin-left: 0px;
	border: 1px #F7F0F0 solid;
	border-radius: 1%;
	background: none;
	color: white;
	text-align: center;
}
hr.solid1 {
  border-top: 3px solid #bbb;
	width: 70px;
	margin-top: 50px;
}

.background2
{
	height: 100px;
	background-color: white;
}
.background2 h5
{
	margin-top: 10px;
}
.background2 p
{
	color: darkgray;
	
}
.background2 i
{
	padding: 7px;
	margin-top: 20px;
	font-size: 50px;
	color: darkgray;
}
.background3
{
	background-color: whitesmoke;
	height: 600px;
}
.Tabmenu
{
	flex-direction: column;
	margin-top: 100px;
	margin-left: 40px;
}
.nav
{
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.nav-link
{
	color: white;
	background: black;
	border-radius: 0;
	border: 0.25px #5E5B5B solid;
	padding: 40px;
	margin-left: 100px;
	
	
}
.nav-link:hover
{
	background:#EF8B50; !important;
}

.text2 h6
{
	margin-top: 100px;
	margin-left: 40px;
	
}
.background3 p
{
	margin-left: 40px;
	float: left;
	color: darkgray;
}
.anh3 img
{
	margin-top: 100px;
	float: center;
	
	
}
.b3 button
{
 background-color: orange; 
  color: white; 
  height: 40px; 
  width: 140px;
  display: block;
	border: 1px #C8C8C8 solid;
	font-size: 20px;
	margin-left: 120px;
	

 	
}
.background4
{
	height: 550px;
	background-color: white;
	
	
}
.background4 img
{
	float: left;
	border: 1px #514E4E solid;
	margin-top: 80px;
	width: 80%;
	margin-left: 40px;
}
.background4 h5
{
	margin-top: 70px;
	margin-left: 50px;
}
hr.solid2 {
  border-top: 3px solid ;
	width: 70px;
	margin-top: 20px;
	margin-left: 50px;
	color: orange;
}
.background4 p
{
	margin-left: 50px;
	color: darkgray;
}
.text3 h6
{
	margin-top: -25px;
	margin-left: 80px;
}
.text3 i
{
	margin-left: 35px;
	color: orange;
	width: 30px;
	height: 30px;
	border: 1px #CF821A solid;
	border-radius: 50%;
	text-align: center;
	padding-top: 6px;
	
}

.text3
{
	width: 100%
}
.text3 p
{
	
	margin-top: 5px;
	margin-left: 80px;
}
.background5
{
	height: 550px;
	background-color: whitesmoke;
	
}
hr.solid3 {
  border-top: 3px solid ;
	width: 70px;
	margin-top: 20px;
	
	color: orange;
}
.text4 h5
{
	
	margin-top: 100px
}
.text4 p
{
	
	color: darkgray;
}
.anh4 img
{
	width: 80%;
	margin-left: 40px;
	margin-top: 100px;
	border: 1px #514E4E solid;
}
.background6
{
	height: 550px;
	background-color: white;
	
}
hr.solid4 {
  border-top: 3px solid ;
	width: 100%;
	margin-top: 20px;
	
	color: orange;
	
	
}
.background6 h2
{
	margin-top: 50px;
	text-align: center;
	
}
.background6 p
{
	text-align: center;
	color: darkgray;
}
.text5 i
{
	color:orange;
	margin-top: 70px;
	border:1px #DC9C26 solid;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	padding-top: 5px;
	font-size: 25px;
		
}
.text5 h5
{
	margin-top: 20px;
	text-align: center;
}
.text5 p
{
	margin-top: 20px;
	text-align: center;
	
}
.background7
{
	height: 950px;
	background-color: whitesmoke;
}
.background7 h2
{
	padding-top: 110px;
	text-align: center;
}
hr.solid5 {
  border-top: 3px solid ;
	width: 100%;
	margin-top: 20px;
	color: orange;
}

.basic
{
	width: 300px;
	height: 60px;
	background-color: black;
	color: white;
	border: 1px solid white;
	
}
.text6
{
	margin-top: 100px;
}
.basic p
{
	padding-top: 8px;
	font-size: 25px;
}
.basic1
{
	width: 300px;
	height: 100px;
	background-color: black;
	color: white;
	border: 1px solid white;	
}
.basic1 p
{
	font-size: 60px;
}
.basic2
{
	width: 300px;
	height: 60px;
	background-color: black;
	color: white;
		
}
.basic2 p
{
	font-size:25px;
	color: darkgray;
	padding: 7px;
}
.basic3
{
	width: 300px;
	height: 5px;
	background-color: orange;			
}
.basic4
{
	width: 300px;
	height: 50px;
	background-color: white;
	color: darkgray;
	border: 1px solid darkgray;	
}
.basic4 p
{
	padding: 10px;
}
.basic5
{
	width: 300px;
	height: 60px;
	background-color: black;
	color: white;
	border: 1px solid white;
}
.basic5 p
{
	padding-top: 8px;
	font-size: 25px;
}
.basic6
{
	width: 300px;
	height: 100px;
	background-color: black;
	color: white;
	border: 1px solid white;
}
.basic6 p
{
	font-size: 60px;
}
.basic7
{
	width: 300px;
	height: 60px;
	background-color: black;
	color: white;
	
}
.basic7 p
{
	padding-top: 15px;
	font-size: 15px;
	color: darkgray;
}
.basic8
{
	width: 300px;
	height: 40px;
	background-color: orange;
}
.basic8 p
{
	padding-top: 5px;
}
.text7
{
	margin-top: 65px;
}
.text8
{
	padding-top: 100px;
}
.background8
{
	background-position: center;
	height: 400px;
	background-image: url(images/images/images/backgroud6.png);
	background-size: cover;
	color: white;
	background-repeat: none;
}
hr.solid6 {
  border-top: 3px solid ;
	width: 100%;
	margin-top: 30px;
	
	
	color: white;
}
.background8 p
{
	color:darkgray;
	margin-top: 30px;
	text-align: center;
}
.background8 h2
{
	padding-top: 50px;
	text-align: center;
}
.background8 button
{
	height: 30px; 	
 	width: 100px;
	margin-top: 50px;
	
	border: 1px #F7F0F0 solid;
	border-radius: 1%;
	background: none;
	color: white;
	
	
	
}
.background9
{
	height: 650px;
	background-color: white;
}
hr.solid7 {
  border-top: 3px solid ;
	width: 100%;
	margin-top: 30px;
	color: orange;
}
.background9 h2
{
	margin-top: 70px;
}
.background9 p
{
	color: darkgray;
}
.text10 input
{
	margin-top: 240px;
}
.button9
{
	 
 	color: white;
	text-align: center;
	font-size: 20px;
	margin-top: 40px;
	margin-right: 30px;	
}
.background9 label
{
	margin-top: 50px;
	margin-left: 50px;
	color: darkgray;
}
.background9 input
{
	width: 80%;
	margin-left: 50px;
}
footer
{
	height: 120px;
	background-color: black;
	
}
.icons i
{
	padding-top: 30px;
	color: darkgray
}
.copyright
{
	color: darkgray;
	text-align: center;
}
@media screen and (max-width:414px)
{
	img{ width: 100%;	
	}
	p{
		font-size: 9pt;
		color: darkgray;
	}
	a
	{
		font-size: 9pt;
	}
	.overlay-content
	{
		font-size: 9pt;
	}
	h2{
		font-size: 15pt;	
	}
	.logo img
	{
		width: 20%;	
	}
	.text1 img
	{
		width: 30%;
	}
	.background2
	{
		height: 170px;
		text-align: center;
	}
	h5{
		font-size: 20pt;
		
	}
	.icons2 i
	{
		font-size: 25pt;
		
	}
	.background3
	{
		
		height: 1200px;
		float: left;
	}
	.nav-link
	{
		float: left;
	}
	.anh3 img
	{
		width: 80%;
		margin-left: 40px;
	}
	.background4
	{
		height: 800px;
		float: left;
	}
	.background4 img
	{
		width: 80%;
		margin-left: 40px;
	}
	.background5
	{
		height: 700px;
		float: left;
	}
	.text4
	{
		margin-left: 40px;
	}
	.background6
	{
		height: 900px;
		float: left;
	}
	
	.background7
	{
		height: 2150px;
		float: left;	
	}
	.background8
	{
		float: left;
	}
	.button8
	{
		margin-left: 150px;
	}
	.form
	{
		height: 800px;
		float: left;
	}
	
	

}